@charset "UTF-8";
/**
 * ENGINE
 * v0.2 | 20150615
 * License: none (public domain)
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:100i,300,300i,400,400i,500,500i,700,700i,900,900i");
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }
  blockquote:before, blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

input,
textarea,
button {
  font-family: inhert;
  font-size: inherit;
  color: inherit; }

select {
  text-indent: .01px;
  text-overflow: '';
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none; }

select::-ms-expand {
  display: none; }

code,
pre {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Typography */
@font-face {
  font-family: 'LNV';
  src: url("../fonts/LNV/fonts/LNV.ttf?uxqr1c") format("truetype"), url("../fonts/LNV/fonts/LNV.woff?uxqr1c") format("woff"), url("../fonts/LNV/fonts/LNV.svg?uxqr1c#LNV") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="lnv-i-"], [class*=" lnv-i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'LNV' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.lnv-i-star:before {
  content: ""; }

.lnv-i-send-2:before {
  content: ""; }

.lnv-i-refresh:before {
  content: ""; }

.lnv-i-place:before {
  content: ""; }

.lnv-i-menu:before {
  content: ""; }

.lnv-i-more-vert:before {
  content: ""; }

.lnv-i-hangout:before {
  content: ""; }

.lnv-i-forum:before {
  content: ""; }

.lnv-i-flag:before {
  content: ""; }

.lnv-i-done-2:before {
  content: ""; }

.lnv-i-email:before {
  content: ""; }

.lnv-i-create:before {
  content: ""; }

.lnv-i-delete-3:before {
  content: ""; }

.lnv-i-call:before {
  content: ""; }

.lnv-i-arrow-dropdown:before {
  content: ""; }

.lnv-i-archive-2:before {
  content: ""; }

.lnv-i-arrow-back:before {
  content: ""; }

.lnv-i-access-time:before {
  content: ""; }

hr {
  border: 0;
  border-top: 1px solid #cccccc; }

[class*="lnv-i"] {
  display: inline-block; }

.lnv-btn {
  background: transparent;
  border: none;
  border-radius: 2px;
  color: #ddd;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
  position: relative; }
  .lnv-btn::-moz-focus-inner {
    border: 0; }
  .lnv-btn:hover {
    background-color: #ddd; }
  .lnv-btn:focus:not(:active) {
    background-color: #ddd; }
  .lnv-btn:active {
    background-color: #ddd; }
  .lnv-btn [class*="lnv-i"] {
    vertical-align: middle; }
  .lnv-btn.lnv-btn_tr:hover, .lnv-btn.lnv-btn_tr:focus:not(:active), .lnv-btn.lnv-btn_tr:active {
    background-color: transparent;
    color: #f7f7f7; }

.lnv-btn_rounded {
  border-radius: 50%;
  font-size: 14px;
  height: 34px;
  margin: auto;
  min-width: 34px;
  width: 34px;
  padding: 0;
  overflow: hidden;
  background: #ff3e81;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: relative;
  line-height: normal; }
  .lnv-btn_rounded [class*="lnv-i"] {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-7px, -7px);
    transform: translate(-7px, -7px);
    line-height: 14px;
    width: 14px; }
  .lnv-btn_rounded.lnv-btn_lg {
    font-size: 18px;
    height: 56px;
    width: 56px; }

.lnv-btn_colored {
  color: #fff; }
  .lnv-btn_colored:hover {
    background-color: #ff0b60;
    color: #fff; }
  .lnv-btn_colored:focus:not(:active) {
    background-color: #ff0b60;
    color: #fff; }
  .lnv-btn_colored:active {
    background-color: #ff0b60;
    color: #fff; }

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.dropdown__label {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.dropdown__btn {
  padding: 5px;
  font-size: 10px;
  background-color: transparent;
  border: 0;
  cursor: pointer; }

html,
body {
  height: 100%; }

body {
  position: absolute;
  min-height: 100%;
  min-width: 1000px;
  background-color: #eeeeee;
  width: 100%;
  height: 100%; }

.layout-main-w {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.layout-sidebar-w {
  width: 255px;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  will-change: transform;
  -webkit-transform: translateX(-255px);
  transform: translateX(-255px); }
  .active-sidebar .layout-sidebar-w {
    -webkit-transform: none;
    transform: none; }

.layout-cnt-w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #eeeeee;
  height: 100%; }
  .active-sidebar .layout-cnt-w {
    margin-left: 255px; }

.layout-main-header {
  background-color: #2196f3;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.layout__header-row {
  padding: 0 24px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 64px;
  line-height: 64px; }

.layout__header-t {
  font-size: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  padding-top: 0px;
  letter-spacing: 0px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%; }

.layout-header__btn {
  border: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  margin: 0px;
  padding: 15px 12px;
  outline: none;
  font-size: 18px;
  line-height: 1;
  font-weight: inherit;
  position: relative;
  z-index: 1;
  overflow: visible;
  width: 48px;
  height: 48px;
  background: none; }
  .layout-header__btn._left {
    margin-top: 8px;
    margin-right: 8px;
    margin-left: -16px; }
  .layout-header__btn._right {
    margin-top: 8px;
    margin-left: auto; }
    .layout-header__btn._right + ._right {
      margin-right: -16px;
      margin-left: 8px; }

.layout-main-cnt {
  width: 100%;
  height: calc(100% - 64px);
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px; }

.main-section {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main-section__cnt {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin-bottom: 20px; }

.main-section__cnt-scr {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative; }

.layout-spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.lnv-list {
  display: block;
  padding: 8px 0;
  list-style: none; }

.lnv-list__item {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px;
  cursor: default;
  color: #4d4d4e;
  overflow: hidden; }
  .lnv-list__item .lnv-list__item-primary-content {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .lnv-list__item .lnv-list__item-primary-content .lnv-list__item-icon {
      margin-right: 36px; }
    .lnv-list__item .lnv-list__item-primary-content .lnv-list__item-avatar {
      margin-right: 16px; }
  .lnv-list__item._active .lnv-list__item-primary-content {
    color: #2196f3; }
  .lnv-list_items-action .lnv-list__item:hover, .lnv-list_items-action .lnv-list__item:focus {
    cursor: pointer; }
    .lnv-list_items-action .lnv-list__item:hover .lnv-list__item-primary-content, .lnv-list_items-action .lnv-list__item:focus .lnv-list__item-primary-content {
      color: #2196f3; }
  .lnv-list__item .lnv-list__item-secondary-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-left: 16px; }
    .lnv-list__item .lnv-list__item-secondary-content .lnv-list__item-secondary-action label {
      display: inline; }
    .lnv-list__item .lnv-list__item-secondary-content .lnv-list__item-secondary-info {
      font-size: 12px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0;
      color: #999999; }
    .lnv-list__item .lnv-list__item-secondary-content .lnv-list__item-sub-header {
      padding: 0 0 0 16px; }
  .lnv-list__item .lnv-list__item-sub-title {
    line-height: 18px;
    color: #999999;
    display: block;
    padding: 0; }

.lnv-list__item-secondary-action {
  font-size: 20px;
  line-height: 1;
  color: #7d7d7d; }
  .lnv-list__item-secondary-action:hover {
    color: #ff3e81; }

.lnv-list__item_some-line .lnv-list__item-primary-content {
  line-height: 1.5;
  display: block; }

.lnv-list__item-icon,
.lnv-list__item-icon.material-icons {
  height: 20px;
  width: 20px;
  font-size: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #7d7d7d; }

.lnv-list__item-avatar,
.lnv-list__item-avatar.material-icons {
  height: 40px;
  width: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #7d7d7d;
  font-size: 40px;
  color: #7d7d7d; }

html, body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5; }

a {
  color: #2196f3;
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    color: #0c7cd5; }

.contacts-list-group-w {
  padding-left: 28px; }

.contacts-list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .contacts-list-group .contacts-list-group__symbol {
    width: 36px;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 66px;
    padding: 16px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 8px 0; }
  .contacts-list-group .contacts-list-group__cnt {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

.contacts-list-group__hr {
  margin-left: 52px;
  margin: 0; }

.contacts-list .lnv-list__item {
  padding: 13px 16px; }

.main-section__cnt_center {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 430px;
  flex: 1 1 430px; }

.main-section__cnt_right {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 430px;
  flex: 0 0 430px;
  margin-left: 15px;
  height: calc(100% - 22px); }

.lnv-contact-card {
  position: relative;
  height: 100%; }

.lnv-card__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: nowrap;
  flex-direction: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
  z-index: 2; }
  .lnv-card__menu .lnv-btn {
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    min-width: 20px; }

.lnv-card__title {
  min-height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 1; }

.lnv-card__img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0; }

.lnv-card__title-text {
  font-size: 35px;
  letter-spacing: -0.4px;
  color: rgba(255, 255, 255, 0.9);
  position: relative;
  z-index: 2;
  margin: auto 25px 15px; }

.lnv-contact-card__actions {
  position: absolute;
  right: 10px;
  bottom: -15px;
  z-index: 2; }

.sidebar-header {
  min-height: 150px;
  background: url("../img/toolbar.jpg") center center no-repeat;
  background-size: cover;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.sidebar-header__avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%; }

.sidebar-nav {
  border: solid 1px #cccccc;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.sidebar-list-icon .lnv-list__item-primary-content {
  color: #4d4d4e; }
  .sidebar-list-icon .lnv-list__item-primary-content:hover {
    color: #2196f3; }
.sidebar-list-icon .lnv-list__item._active {
  color: #2196f3; }

.sidebar-header__nav {
  margin-top: auto;
  color: #fff; }

.text-warning {
  color: #ff3e81; }

.text-primary {
  color: #2196f3; }
