head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')

  block head
  title= pageTitle
  meta(name='description' content=pageDescription)
  meta(name='keywords' content=pageKeywords)
  meta(name='copyright' content=pageCopyright)

  // build:css css/vendor.css

  // endbuild
  //- 
  block css
  //- 
  // build:css css/main.css
  link(rel='stylesheet', href='css/style.css')
  // endbuild

  //- 
  block js
  //- 
  // build:js scripts/main.js
  script(src='js/main.js')
  // endbuild

