.sidebar-header
  img(src="img-back/avatar-b.png").avatar.sidebar-header__avatar
  .sidebar-header__nav
    .user-name Kyle Ledbetter
    .dropdown
      .dropdown__label kyle@kyleledbetter.com
      button(type="button").dropdown__btn
        i.lnv-i-arrow-dropdown


.sidebar-nav
  ul.sidebar-list-icon.lnv-list
    li.lnv-list__item._active
      a(href="").lnv-list__item-primary-content
        i.lnv-i-access-time.lnv-list__item-icon
        | Recent Contacts
    li.lnv-list__item
      a(href="").lnv-list__item-primary-content
        i.lnv-i-archive-2.lnv-list__item-icon
        | Archive
    li.lnv-list__item
      a(href="").lnv-list__item-primary-content
        i.lnv-i-done-2.lnv-list__item-icon
        | Replied

  hr
  ul.sidebar-list-icon.lnv-list
    li.lnv-list__item
      a(href="").lnv-list__item-primary-content
        i.lnv-i-send-2.lnv-list__item-icon
        | Sent
    li.lnv-list__item
      a(href="").lnv-list__item-primary-content
        i.lnv-i-delete-3.lnv-list__item-icon
        | Trash
    li.lnv-list__item
      a(href="").lnv-list__item-primary-content
        i.lnv-i-star.lnv-list__item-icon
        | Starred
    li.lnv-list__item
      a(href="").lnv-list__item-primary-content
        i.lnv-i-forum.lnv-list__item-icon
        | Forums
    li.lnv-list__item
      a(href="").lnv-list__item-primary-content
        i.lnv-i-flag.lnv-list__item-icon
        | Updates