$icomoon-font-path: "fonts" !default;

$lnv-i-star: "\e900";
$lnv-i-send-2: "\e901";
$lnv-i-refresh: "\e902";
$lnv-i-place: "\e903";
$lnv-i-menu: "\e904";
$lnv-i-more-vert: "\e905";
$lnv-i-hangout: "\e906";
$lnv-i-forum: "\e907";
$lnv-i-flag: "\e908";
$lnv-i-done-2: "\e909";
$lnv-i-email: "\e90a";
$lnv-i-create: "\e90b";
$lnv-i-delete-3: "\e90c";
$lnv-i-call: "\e90d";
$lnv-i-arrow-dropdown: "\e90e";
$lnv-i-archive-2: "\e90f";
$lnv-i-arrow-back: "\e910";
$lnv-i-access-time: "\e911";

